$tablet-width: 768px
$desktop-width: 1024px

=tablet
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px)
    @content

=mobile
  @media (max-width: $tablet-width - 1px)
    @content

=desktop
  @media screen and (min-width: $desktop-width)
    @content

+mobile
  .is-hidden-mobile
    display: none !important

  .is-hidden-tablet
    display: block !important

  .is-hidden-desktop
    display: block !important

+tablet
  .is-hidden-mobile
    display: block !important

  .is-hidden-tablet
    display: none !important

  .is-hidden-desktop
    display: none !important

+desktop
  .is-hidden-mobile
    display: block !important

  .is-hidden-tablet
    display: block !important

  .is-hidden-desktop
    display: none !important

// Themify Mixin
@mixin themify($themes: $themes)
  @each $theme, $map in $themes

    .theme-#{$theme} &
      $theme-map: () !global
      @each $key, $submap in $map
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global

      @content
      $theme-map: null !global

@function themed($key)
  @return map-get($theme-map, $key)
