$primary: orange
$dark: #333
$sheetWhite: #fafafa

$light: ( searchBarBackground: #CCCCCC, navbarBackground: $sheetWhite, navbarBrandColor: $dark, navbarToggleLabel: black, gifListBackground: #e0eff1, paginationBackground: #fafafa, pageButtonBackground: $dark, pageButtonColor: #fff, pageButtonHoverBackground: #999, pageButtonHoverColor: #fff, tagBackground: #333, tagColor: #fafafa, tagBackgroundActive: #FD8201, tagColorActive: #000 )

$dark: ( searchBarBackground: #FD8201, navbarBackground: $dark, navbarBrandColor: $sheetWhite, navbarToggleLabel: #FD8201, gifListBackground: #2d5871, paginationBackground: #666666, pageButtonBackground: #fff, pageButtonColor: black, pageButtonHoverBackground: #fcf9f9, pageButtonHoverColor: #000, tagBackground: #333, tagColor: #fafafa, tagBackgroundActive: #FD8201, tagColorActive: #000 )

$themes: ( light: $light, dark: $dark );