@import './../../styles/theme'
@import './../../styles/helper'
    
.paginatin-tab
    display: flex
    flex-direction: column
    align-items: center
    @include themify($themes)
        background-color: themed('paginationBackground')

.page-buttons-wrapper
    display: inline-flex
    justify-content: center
    padding: 2rem 1rem
    width: 60%

.page-button
    padding: 1rem
    min-width: 3rem
    min-height: 3rem
    font-size: 1rem
    font-weight: bold
    border-radius: 10%
    margin: auto 1rem
    @include themify($themes)
        background-color: themed('pageButtonBackground')
        color: themed('pageButtonColor')

    &:hover
        @include themify($themes)
            background-color: themed('pageButtonHoverBackground')
            color: themed('pageButtonHoverColor')

    &.is-active
        @include themify($themes)
            background-color: themed('pageButtonHoverBackground')
            color: themed('pageButtonHoverColor')
