.paginatin-tab
    display: flex
    flex-direction: column
    align-items: center

.page-buttons-wrapper
    display: inline-flex
    justify-content: space-between
    padding: 1rem
    width: 60%

.page-button
    padding: 1rem
    min-width: 3rem
    min-height: 3rem
    font-size: 1rem
    background: #ccc
    color: #333
    font-weight: bold
    border-radius: 10%

    &:hover
        background: #666
        color: #fafafa
        
    &.is-active
        background: #333333
        color: #ffffff