@import '../../styles/theme'
@import '../../styles/helper'

.search-bar-wrapper
    display: flex
    padding: 0.625rem
    height: 50px
    @include themify($themes)
        background-color: themed('searchBarBackground')

.search-bar-input
    width: 100%
    border-radius: 0.625rem 0rem 0rem 0.625rem
    border: 0.0625rem solid transparent
    padding: 0.625rem
    font-size: 1rem
    outline: none
    transform: unset

.search-button
    border: 0.0625rem solid white
    cursor: pointer
    padding: 0rem 1rem
    font-size: 1rem
    border-radius: 0rem 0.625rem 0.625rem 0rem
    z-index: 10
    outline: none
    @include themify($themes)
        background-color: themed('searchBarBackground')
    