@import '../../styles/helper'
@import '../../styles/theme'
    
.gif-list
    display: flex
    flex-direction: column
    align-items: center
    padding: 2rem
    +mobile
        padding: 0rem
    
.gif-wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, 11.25rem)
    grid-gap: 3rem 3.5rem
    width: 100%
    +mobile
        grid-template-columns: 1fr 1fr
        grid-gap: 0rem 0rem

.gif-image-wrapper
    width: 11.25rem
    height: 11.25rem
    position: relative
    
    &:hover
        .gif-image
            &.dynamic
                display: block
            &.static
                display: none

.gif-loading
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: wheat

.gif-image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &.static
        display: block
    &.dynamic
        display: none
    // +mobile
    //     width: auto
    //     height: auto